*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #282929;
  --text: #ddd;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--dark);
  text-shadow: var(--dark);
  color: var(--text);
}

main {
  height: 100vh;
  background: scroll center url("src/img/oquintal.jpg");
  background-size: cover;
  filter: brightness(70%);
}

section > article {
}
