@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #141111;
  --text: #f1f1f1;
}

body {
  background: fixed center url("src/img/oquintal.jpg");
  font-family: 'Oswald', sans-serif;
  background-color: var(--dark);
  background-size: cover;
  color: var(--text);
}

main {
  height: 100vh;
}

main > section > header {
  display: flex;
  padding: 2rem 7rem;
  align-items: center;
  justify-content: space-between;
}

.header > nav {
  gap: 1rem;
  display: flex;
}

section > article > h1 {
  font-weight: 600;
  font-size: 5rem;
}

section > article {
  display: flex;
  padding: 2rem;
  margin: 0 20rem;
  font-size: 1.2rem;
  font-weight: 300;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(.3rem);
  text-shadow: .1rem .1rem .1rem var(--dark);
}

a {
  border: none;
  transition: .5s;
  font-size: 1.3rem;
  color: var(--text)
  text-decoration: none;
  background: transparent;
  border-block-end: solid 1px transparent;
}

a:hover {
  cursor: pointer;
  border-block-end: solid 1px var(--text);
}

.menu {
  display: flex;
  min-height: 40vh;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background: var(--dark);
}

.menu > div {
  padding: 2rem;
  cursor: pointer;
  transition: .5s;
  font-size: 1.5rem;
  background: transparent;
  border: solid 1px var(--text);
  box-shadow: .5rem .5rem .5rem #000;
}

.menu > div:hover {
  box-shadow: none;
}

.fa-brands {
    font-size: 2.5rem;
}

.menu .facebook-link:hover{
  color: #4267B2;
   border-block-end: solid 1px transparent;
}

.menu .instagram-link:hover{
  color: #E1306C;
   border-block-end: solid 1px transparent;
}

.menu .whatsapp:hover{
  color: #25D366;
   border-block-end: solid 1px transparent;
}

footer > div{
  display: flex;
  min-height: 30vh;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(.3rem);
}

footer > p {
  padding: 1rem;
  text-align: center;
}

footer > div > article {
  display: inherit;
  align-items: start;
  flex-direction: column;
}