@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto:wght@300;400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #141111;
  --text: #f1f1f1;
}

body {
  background: no-repeat url("../img/oquintal.jpg");
  font-family: "Roboto", sans-serif;
  background-color: var(--dark);
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  color: var(--text);
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

img {
  width: 100%;
}

main {
  max-width: 1200px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  padding-block-start: 2rem;
  padding-inline: 2rem;
  gap: 5rem;
}

.header {
  align-items: center;
  justify-content: space-between;
}

.header nav {
  gap: 1rem;
  display: flex;
}

.hero {
  max-width: 80%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50%;
  padding: 1.5rem;
  backdrop-filter: blur(0.7rem);
  text-shadow: 0.1rem 0.1rem 0.1rem var(--dark);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.hero h1 {
  font-weight: 600;
  font-size: clamp(2.5rem, 15vw, 4rem);
  font-family: "Oswald", sans-serif;
}

.hero h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

.menu {
  max-width: 100%;
  min-height: 30vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background: var(--dark);
  opacity: 0.95;
  padding: 0 6rem;
  gap: 2rem;
  font-size: 1.2rem;
}

.links {
  border: none;
  transition: 0.5s;
  font-size: 1.3rem;
  color: var(--text);
  text-decoration: none;
  background: transparent;
  border-block-end: solid 1px transparent;
}

.links:hover {
  cursor: pointer;
  border-block-end: solid 1px var(--text);
}

.fa-brands {
  font-size: 3rem;
}

#phone {
  color: var(--text);
  text-decoration: none;
}

.fa-phone {
  font-size: 2.6rem;
}

.fa-phone:hover,
.fa.phone:focus {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.facebook-link:hover,
.facebook-link:focus {
  color: #4267b2;
  border-block-end: solid 1px transparent;
}

.instagram-link:hover,
.instagram-link:focus {
  color: #e1306c;
  border-block-end: solid 1px transparent;
}

.whatsapp-link:hover,
.whatsapp-link:focus {
  color: #25d366;
  border-block-end: solid 1px transparent;
}

.facebook-link:hover + p,
.instagram-link:hover + p,
.whatsapp-link:hover + p {
  display: block;
  text-shadow: 0.1rem 0.1rem 0.1rem var(--dark);
}

.aside {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  padding-top: 100px;
  z-index: 1;
  display: none;
  padding: 1rem;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.aside-content {
  width: 50%;
  display: block;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--dark);
}

.aside img {
}

.aside-content a {
  font-size: 1.5rem;
  color: var(--text);
  text-decoration: none;
}

.aside-content-images span {
}

.ubereats:hover {
  color: #25d366;
}

.contacts {
  gap: 1rem;
  display: grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.contacts > span {
  gap: 0.5rem;
  display: flex;
  align-items: start;
}

.contacts > span > p {
  display: flex;
  align-self: center;
  justify-content: start;
}

.footer {
  display: flex;
  width: 100%;
  min-height: 40vh;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(0.3rem);
}

.footer_credits {
  flex-direction: column;
  text-align: center;
  padding-block: 1rem;
  gap: 1.5rem;
}

.footer_credits img {
  width: 20%;
}

/* Media queries */

@media (390px < width < 1180px) {
  .menu {
    padding-block: 2rem;
    grid-gap: 3rem;
  }

  .footer_credits img {
    width: 40%;
  }
}

@media (max-width: 840px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}

@media (280px < width) {
  .menu {
    padding-block: 2rem;
  }
}
